# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS generated
.DS_Store
Thumbs.db

# dotenv environment variables
.env
.env.*

# Cache
.cache/
dist/
build/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: Test coverage
coverage/

# Optional: PM2 logs
pids
*.pid
*.seed
*.pid.lock
